html, body {
    width: 100%;
    height: 100%
    }

body {
    margin: 0px;
    }

#map {
  width: 100%;
  height: 100%;
}

#legend {
  position: absolute;
  top:13px;
  right:13px;
  width:160px;
  background-color:#f3efe9;
  padding:7.5px;
  font-family: Arial, sans-serif;
  font-size:12px;
  border: 1px solid white;
  line-height:1em;
}

#legend2 {
  position: absolute;
  bottom:13px;
  right:13px;
  width:50px;
  background-color:#f3efe9;
  padding:5px;
  font-family: Arial, sans-serif;
  font-size:11px;
  border: 1px solid white;
  line-height:0.8em;
}

#legend h1 {font-size:16px; margin:0 0 4px 0;}
#legend h2 {font-size:14px; margin:0;}
#legend h3 {font-size:13px; margin: 10px 0 0 0;}

#legend2 h2 {font-size:14px; margin:0;}

#legend2 .colors {float:left;line-height:17px; width:110px; margin: 10px 0;}
#legend2 .colors span {height:17px; width:20px; margin-right:5px; display:block; float:left; clear:left; opacity: .75;}
#legend2 .ward-one {background-color: #e9853d;}
#legend2 .ward-two {background-color: #0e9b54;}
#legend2 .ward-three {background-color: #7a37ab;}
#legend2 .ward-four {background-color: #ffff00;}
#legend2 .ward-five {background-color: #4876ff;}

#legend #credits {font-size:10px; line-height:1.2em;}
